.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-wrapper {
  margin: 5% 0;
}

/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 20vw; /* note i used vw not px for better responsive */
  height: 20vw;
}

.custom-circle-image img {
  object-fit: cover;
  
}

.card-title {
  letter-spacing: 0.7px;
  
 
}
.name{
  color:rgb(7, 7, 7);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.card-img-top {
  width: 20cm;
}
.rounded-circle{
width: 90%;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
height: 255px;
border: 2px solid #f4623a;
}
.img{
  height: 30px;
}
#mainNav {
  box-shadow: 1px;
  background-color: rgba(0,0,0,0.5);
}
.card-body {
  text-align: center;
}

#infobtn{
  color: #fff;
    background-color: #f4623a !important;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    margin-top: 15px;
}